<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bcrypt Password Tool</title>
</head>
<body style="height: 100%;">
<div class="container-fluid" style="min-height: 100%; overflow-y: auto">
    <div class="row justify-content-center">
        <div class="card mt-2 mb-2" style="width: 65%;">
            <div class="card-body">
                <h5 class="card-title">Password</h5>
                <h6>Encode</h6>
                <form method="post" action="/encode">
                    <div class="input-group">
                        <input type="text" id="textToEncode" name="textToEncode" class="form-control" th:value="${textToEncode}"
                               placeholder="Enter text to encode">
                        <select class="form-control ml-2" id="encodingAlgorithm" name="encodingAlgorithm">
                            <option value="bcrypt" defalult>Bcrypt</option>
                            <option value="md2">MD2</option>
                            <option value="md5">MD5</option>
                            <option value="sha-1">SHA-1</option>
                            <option value="sha-256">SHA-256</option>
                            <option value="sha-384">SHA-384</option>
                            <option value="sha-512">SHA-512</option>
                        </select>
                        <span class="input-group-btn ml-2">
                            <button type="submit" class="btn btn-primary">Encode</button>
                        </span>
                    </div>
                    <div th:if="${textToEncode != null}" th:text="${'Encoded: ' + encodedText}"
                         class="alert alert-success mt-2" role="alert">

                    </div>
                </form>
                <h6 class="mt-2">Match</h6>
                <form method="post" action="/decode">
                    <div class="input-group">
                        <input type="text" id="encodedText" name="encodedText" class="form-control"
                               placeholder="Enter encoded password">
                        <input type="text" id="rawText" name="rawText" class="form-control"
                               placeholder="Enter plain password">
                        <select class="form-control ml-2" id="decodingAlgorithm" name="decodingAlgorithm">
                            <option value="bcrypt" defalult>Bcrypt</option>
                            <option value="md2">MD2</option>
                            <option value="md5">MD5</option>
                            <option value="sha-1">SHA-1</option>
                            <option value="sha-256">SHA-256</option>
                            <option value="sha-384">SHA-384</option>
                            <option value="sha-512">SHA-512</option>
                        </select>
                        <span class="input-group-btn ml-2">
                            <button type="submit" class="btn btn-primary">Check</button>
                        </span>
                    </div>
                    <div th:if="${rawText != null && matches}" class="alert alert-success mt-2" role="alert">
                        Matches
                    </div>
                    <div th:if="${rawText != null && !matches}" class="alert alert-danger mt-2" role="alert">
                        Don't matches
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
